<style>
   .contenedor-principal{
      border: 20px solid #3399ff;
      height: 500px;
      text-align: center;
   }
   h1{
      color: #3399ff;
      font-size: 25px;
   }
</style>

<div class="contenedor-principal">

<h1>ยก A JUGAR !</h1>



<div style="display:inline-block">
<div style="float:left">
<form method="post" action="/jugadorA/Piedra">
  <input type="image" src="/Piedra.jpg" value="Piedra" style="width:145px;height:145px;">
</form>
</div>

<div style="float:right">
<form method="post" action="/jugadorA/Papel">
   <input type="image" src="/Papel.jpg" value="Papel" style="width:145px;height:145px;">
</form>
</div>

<div style="float:right">
<form method="post" action="/jugadorA/Tijera">
   <input type="image" src="/Tijera.jpg" value="Tijera" style="width:145px;height:145px;">
</div>
</form>
</div>

<br>
<b>Opcion Elegida: <%= @opcionJugadorA %></b>
<br>



<br>
<input type="image" src="/<%= @opcionJugadorB %>.jpg" value="<%= @opcionJugadorB %>" style="width:150px;">
<br>
<b>Opcion Oponente: <%= @opcionJugadorB %></b>



<br>
<b>Resultado: <%= @resultado %></b>
<br>
<b>Puntaje: <%= @@juego.humano.puntaje %> a <%= @@juego.maquina.puntaje %>
<br>
<form method="get" action="/">
   <input type="submit" value="Reset">
</form>
</div>
